/* 细窄全局滚动条，兼容常见 PC 浏览器 */
* {
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-background-dark);
  border-radius: 3px; /* 添加圆角让它看起来更柔和 */
}
*::-webkit-scrollbar-track {
  background: var(--color-background) !important;
  border-radius: 3px;
}

.n-modal-mask {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
